<script>
    var alarm_status = true;
    
        function notice_ajax(){
            $.ajax({
                // type을 설정합니다.
                type : 'GET',
                url : "{% url 'account:notice_ajax' %}",
                success : function (data) {
                    // 로그인 사용자 정보가 잘못 되었을 경우
                    if(data["show_alert"]){
                        // 만들었다 사라졌다!!
                        if(alarm_status){
                            $('#notice').html('<svg class = "svg-icon" version="1.0" xmlns="http://www.w3.org/2000/svg" width="46.000000pt" height="51.000000pt" viewBox="0 0 46.000000 51.000000" preserveAspectRatio="xMidYMid meet"><g transform="translate(0.000000,51.000000) scale(0.100000,-0.100000)"fill="#000000" stroke="none"><path d="M205 490 c-3 -11 -12 -20 -20 -20 -20 0 -73 -48 -90 -81 -10 -18 -15 -57 -15 -108 0 -77 -1 -80 -27 -93 -33 -16 -57 -60 -48 -88 6 -18 15 -20 80 -20 72 0 73 0 83 -30 15 -41 55 -59 90 -39 14 8 29 25 32 39 6 24 10 25 83 28 l77 3 0 40 c0 35 -4 42 -35 60 l-35 21 0 79 c0 51 -5 90 -15 108 -17 33 -70 81 -90 81 -8 0 -19 9 -25 20 -6 11 -17 20 -25 20 -7 0 -17 -9 -20 -20z m83 -49 c55 -29 72 -65 72 -158 0 -85 5 -99 41 -117 15 -7 25 -22 27 -39 l3 -27 -206 0 -207 0 7 27 c7 29 21 43 42 43 22 0 33 38 33 116 0 89 20 131 73 158 42 21 70 20 115 -3z m-18 -385 c0 -19 -26 -38 -46 -34 -9 2 -23 13 -32 26 -14 22 -14 22 32 22 32 0 46 -4 46 -14z"/> </g> </svg>')
                            for(var i = 0; i < data["show_alert"].length; i++){
                                var url = data["show_alert"][i]["fields"]["board"]
                                var comment_id = data["show_alert"][i]["pk"]
                                if(data["show_alert"][i]["fields"]["content"].length<13){
                                    $('#notice_result').append("의견내용 :<br>" + data["show_alert"][i]["fields"]["content"]+"<br>")
                                }else{
                                    $('#notice_result').append("의견내용 :<br>" + data["show_alert"][i]["fields"]["content"].slice(0,13)+"...<br>")
                                }
                                $('#notice_result').append("작성자 : " + data["show_alert"][i]["fields"]["sender_name"]+"<br>")
                                $('#notice_result').append("<a href=/board/detail/alerted" + comment_id + "/"+url+">"+"보러가기</a><br><hr>")
                            }
                            $('#notice_result').append("<a href='{% url 'account:alert_board' %}'>알림 더보기</a>")
                            alarm_status = false;
                        }
                    }else{
                        // 만들었다 사라졌다!! 아무것도 없을 경우!!
                        if(alarm_status){
                            $('#notice_result').html("소식이 없습니다.")
                            alarm_status = false;
                        } else {
                            $('#notice_result').html("")
                            alarm_status = true;
                        }
                    }
                },
            });
        }
    </script>