{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>이미지스토리</title>
    <link rel="icon" href="/static/imagestory.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script type="text/javascript" src="{% static 'jquery.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.bundle.js"></script>
    <style>
        .svg-icon {
            width: 1.5em;
            height: 1.5em;
            transition: 1s;
        }
    </style>
</head>
{% include 'notice_ajax.html' %}
<body>
    <div class="container-fluid">
        {% include 'navbar.html' %}
        <h1>마이페이지<a style="float:right" class="btn btn-dark" href="{% url 'tutorial:tutorial_list' %}">📲게시글나가기</a></h1>
        <hr>
        <div style="text-align: center;">
            <h3>1. 로그인 후 마이페이지 클릭</h3>
            <img width="80%" src="{% static 'tutorial/mypage/mypage_1.png' %}"/>
            <hr style="border-style: dashed;border-color: black;">
            <h3>2. 마이페이지 설명</h3>
            <img width="80%" src="{% static 'tutorial/mypage/mypage_2.png' %}"/>
        </div>
    </div>
</body>
</html>